---
# tasks file for y
- name: include assert.yml
  include_tasks: assert.yml

- name: install requirements
  package:
    name: "{{ y_requirements }}"
    state: present
  register: y_install_requirements
  until: y_install_requirements is succeeded
  retries: 3

- name: create export directory
  file:
    path: "{{ y_export_to }}"
    state: directory

- name: find files to convert {{ y_import_from }}
  find:
    path: "{{ y_import_from }}"
    patterns: "*.jpg"
  when:
    - y_import_from is defined
  register: y_find

- name: loop over found images
  include: image.yml
  loop: "{{ y_find.files }}"
  loop_control:
    loop_var: image
  when:
    - y_find is defined
    - y_find.files is defined
    - y_find.files

- name: copy converted images back
  fetch:
    src: "{{ item.path }}"
    dest: "{{ y_export_to }}/{{ item.path | basename }}"
    flat: yes
  loop: "{{ y_find.files }}"
  loop_control:
    label: "{{ item.path }}"
